<div class="container">
  <form name="postad">
    <h1>Add Blog</h1>
    <br>
    <div class="form-group">
      <label>Title Of Blog</label>
       <input class="form-control" placeholder="Title" ng-model="data.title" type="text">
    </div>
    <div class="form-group">
      <label >Content</label>
      <textarea class="form-control" placeholder="Please write us about what are you thinking" ng-model="data.content" type="text"></textarea>
    </div>
    <button ng-click="addPost()" class="btn btn-primary" type="button">Add Post</button>
  </form>
</div>